.app-header {
    background-color: $clr1;
    padding: 0.585em 0;
    color: $clr6;

    h1 {
        margin: 0;
        font-size: 1.35rem;
    }

    a {
        color: $clr6;
        font-size: 0.9rem;

        &:hover {
            text-decoration: none;
        }
    }

    nav>*:not(:last-of-type) {
        margin-inline-end: 1.5em;
    }
}

.homepage-header {
    background-color: $clr6;
    padding: 0.78em 0;

    h1 {
        margin: 0;
        font-size: 2rem;
    }

    a {
        color: $clr2;
        font-size: 1.1rem;

        &:hover {
            text-decoration: none;
        }
    }

    nav>*:not(:last-of-type) {
        margin-inline-end: 1.5em;
    }
}