.window {
    overflow: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: #000000a3;
    max-height: 100%;

    // &::-webkit-scrollbar-thumb {
    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    // }

    // &::-webkit-scrollbar-track {
    //     background-color: rgb(255, 0, 0);
    // }

    // &::-webkit-scrollbar {
    //     width: 10px;
    // }

    .black-bg {
        position: fixed;
        display: flex;
        inset: 0;
        margin: 0;
        z-index: -1;
    }

    .attachment-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        .header {
            // height: 48px;
        }

        .main {
            padding: 48px 24px 112px;
            flex: 1;

            iframe,
            img {
                width: auto;
                max-width: 100%;
                border-radius: 3px;
            }



        }



        footer {
            position: fixed;
            color: white;
            text-align: center;
            height: 100px;
            width: 100%;
            bottom: 0;
            background-color: #000000b3;

            p {
                span {
                    margin: 0 3px 0 14px
                }
            }

            // background-color: blue;
        }
    }
}