.extras-menu .extras-content-attachment {
    padding: 0 12px 12px;
    display: flex;
    flex-direction: column;
    cursor: default;
    max-width: 303px;

    h4 {
        color: #5d6b83;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        // margin-top: 16px;
    }

    .from-computer {
        // background-color: red;

        &:hover {
            .upload-fake-btn {
                background-color: #091e420a;
            }
        }

        .upload-fake-btn {
            color: var(--ds-text, inherit);
            cursor: pointer;
            display: block;
            font-weight: 400;
            margin: 0 -12px;
            padding: 6px 12px;
            position: relative;
            cursor: pointer;

        }

        input[type="file" i] {
            cursor: pointer;
            position: absolute;
            left: 1px;
            top: 50px;
            opacity: 0;
            height: 35px;
            width: 303px;


        }
    }

    .upload-from-btn {
        color: var(--ds-text, inherit);
        cursor: not-allowed;
        display: block;
        font-weight: 400;
        margin: 0 -12px;
        padding: 6px 12px;
        position: relative;

        &:hover {
            background-color: #091e420a;
        }
    }

    hr {
        background-color: var(--ds-border, #091e4221);
        border: 0;
        height: 1px;
        margin: 8px 0;
        padding: 0;
        width: 100%;
    }

    .search-input {
        background-color: var(--ds-background-input, #fafbfc);
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px var(--ds-border-input, #dfe1e6);
        box-sizing: border-box;
        line-height: 20px;
        outline: none;
        padding: 8px 12px;
        display: block;
        width: 100%;
        margin: 4px 0 12px;

        &:focus {
            background-color: var(--ds-background-input, #fff);
            box-shadow: inset 0 0 0 2px $focus-input;
        }
    }

    .btn-add-attach {

        margin: 0;
        background-color: #091e420a;
        color: black;
        margin-inline-start: 9px;
        border-radius: 3px;
        padding: 6px 12px;
        display: inline-flex;
        font-size: 14px;
        font-weight: 100;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        align-items: center;
        max-width: 65px;
        margin: 8px 0;

        &:hover {
            background-color: #091e4214;
        }

    }
}