.board-list {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(32px) rem(16px);

    @include for-normal-layout {
        grid-template-columns: repeat(3, 194px);
    }

    @include for-wide-layout {
        grid-template-columns: repeat(4, 194px);
    }

    >* {
        border-radius: 0.2em;
        background-color: $clr8;
        min-width: 136px;
        padding: rem(8px);
        min-height: 96px;
        cursor: pointer;
        position: relative;
        background-position: center;
        background-size: cover;
        overflow: hidden;

        i.star {
            font-size: rem(12px);
            width: 20px;
            height: 20px;
            color: $clr6;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0.6em;
            right: 0.6em;
            transform: translateX(150%);
            -webkit-transition: transform 0.1s ease-in-out;
            -moz-transition: transform 0.1s ease-in-out;
            -ms-transition: transform 0.1s ease-in-out;
            -o-transition: transform 0.1s ease-in-out;
            transition: transform 0.1s ease-in-out;

            &.starred {
                color: $clr15;

                &::before {
                    font-family: fa;
                    content: "\f005";
                }

                &:hover::before {
                    font-family: fa-regular;
                    content: "\f005";
                }
            }

            &::before {
                transform: scale(1);
                -webkit-transition: transform 0.1s ease-in-out;
                -moz-transition: transform 0.1s ease-in-out;
                -ms-transition: transform 0.1s ease-in-out;
                -o-transition: transform 0.1s ease-in-out;
                transition: transform 0.1s ease-in-out;
            }

            &:hover::before {
                transform: scale(1.2);
            }
        }


        h3 {
            margin: 0;
            font-size: rem(16px);
            font-weight: 700;
            color: $clr6;
            position: relative;
            z-index: 1;
            text-shadow: 0 0 1px black;
        }

        &:hover {
            i {
                transform: translateX(0);
            }
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
        }

        &:hover::before {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .board-add {
        background-color: $clr8;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr9;
        font-size: rem(14px);
        overflow: visible;

        &::before {
            background: none;
        }

        &:hover::before {
            display: none;
        }

        &:hover {
            background-color: #091e4214;
        }
    }
}