.board-header {
    display: flex;
    // flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.093);
    justify-content: space-between;
    align-items: center;
    padding: 17px 4px 0px 12px;
    position: relative;
    min-height: 44px;


    .left {
        display: flex;
        margin-bottom: 5px;
        // background-color: pink;
        // width: 500px;

        .star-icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            width: 20px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 17px;
        }

        .board-header-icon{
            width: 20px;
         }

        .board-header-text {
            // display: block;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            padding: 0 12px;
            color: whitesmoke;
            margin: 0 4px 4px 0;
        }

        .board-header-text.edit-mode {
            display: none;
        }

        .board-name-input {
            display: none;
        }

        .board-name-input.edit-mode{
            background-color: rgba(245, 245, 245, 0.553);
            border: 0;
            display: block;
            width: 100px;
            border-radius: 3px;
            font-size: 18px;
            font-weight: 700;
            height: 32px;
            margin: 0;
            padding: 0 12px;
        }

        .board-members {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-right: 11px;
            margin-left: 20px;


            .member-img {
                height: 32px;
                margin-right: -3px;
                object-fit: cover;
                width: 32px;

                img {
                    border-radius: 25em;
                }
            }
        }
    }

    .right {
        display: flex;
        margin: 0 4px 5px auto;
        padding-inline-start: 5px;
        transition: margin .12s ease-in;

        button {
            display: flex;
            align-items: center;
            gap: 9px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 6px 12px;

        }

        .board-header-icon{
            width: 20px;
         }
    }

}