.board-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // padding: 8px 4px 7px;
    background-color: black;
    padding: 8px 4px 0px 12px;
    position: relative;
    min-height: 44px;
 
    // .board-header .left input {}

   .left {
        display: flex;
        margin-bottom: 5px;

        .star-icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            width: 20px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }


    .board-header-text {
        color: whitesmoke;
        margin: 0 4px 4px 0;
        width: 85px;
    }


    }
