.card .side-bar {
    // @include for-normal-layout {


    // }

    margin: 0 16px 8px 8px;
    width: calc(100% - 600px);
    margin-bottom: 24px;
    position: relative;

    h5 {
        margin: 0;
        display: block;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-utils {
        display: flex;
        flex-direction: column;

        .label-btn {
            text-transform: capitalize;
            background-color: #eaecf0;
            margin: 0;
            border-radius: 3px;
            box-sizing: border-box;
            height: 32px;
            margin-top: 8px;
            max-width: 300px;
            padding: 6px 8px;
            position: relative;
            color: black;
            text-align: left;

            &:hover {
                background-color: #091e4214;
            }

            .labels {
                transform: scaleY(-1);
            }

            &>.tag-label {
                display: inline-block;
                width: 25px;
                margin: 0 6px 0 -6px;
                padding: 0 0 0 8px;
            }
        }
    }
}

.card .extras-menu {
    cursor: default;
    flex-direction: column;
    background-color: white;
    color: black;
    position: fixed;
    min-height: 100px;
    min-width: 304px;
    border-radius: 3px;
    z-index: 1000;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

    .title-container {
        color: $clr12;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid rgba(9, 30, 66, .129);
        margin: 0 12px 8px;



        p {
            margin: 0;
        }

        button.close-btn {
            position: absolute;
            position: absolute;
            // right: 0;
            top: 3px;
            font-size: 18px;
            height: 20px;
            line-height: 20px;
            width: 20px;
            right: 10px;
        }
    }

    .action-btn {
        cursor: pointer;
        line-height: 20px;
        color: #000000;
        padding: 6px 12px;
    }


}