.main-content .checklist-header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    min-height: 32px;
    margin: 0px 0 10px 40px;
    padding: 2px 0;
    position: relative;


    span {
        left: -34px;
        position: absolute;
        height: 32px;
        line-height: 32px;
        width: 32px;
        font-size: 22px;
        top: 9px
    }

    span.check-list {
        top: 4px
    }

    h3 {
        display: inline-block;
        align-self: center;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
        width: auto;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600
    }

    button {
        margin: 0;
        background-color: #EAEBEF;
        color: black;
        margin-inline-start: 9px;
        border-radius: 3px;
        padding: 6px 12px;
        display: inline-flex;
        font-size: 14px;
        font-weight: 100;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        align-items: center;
    }
}