.card-list {
    flex: 1 1 auto;
    padding: 0 4px;
    min-height: 1px;
    max-height: 71vh;
    position: relative;
    width: 264px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #dcdee3;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c5c8d0;
        border-radius: 20px;
        border: 0px solid transparent;
        background-clip: content-box;
    }

    //     .quick-edit-btn {
    //     position: absolute;
    //     top: 1px;
    //     right: 8px;
    //     font-size: 12px;
    //     z-index: 3;
    //     color: #42526e;
    //     opacity: 0;
    //     padding: 0;
    //     margin: 0;
    // }

    // &:hover .quick-edit-btn {
    //     background-color: rgba(255, 255, 255, 0.612);
    //     border-radius: 3px;
    //     padding: 7px;
    //     opacity: 1;
    // }


}

a:hover {
    text-decoration: none;
}

.card-preview-cover {
    height: 32px;
    width: 100%;
    padding: 0;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    // margin-bottom: 5px;
}

.card-preview {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
    min-height: 32px;
    max-width: 256px;
    position: relative;
    text-decoration: none;
    color: $clr9;

    .card-preview-img {
        display: flex;
        align-items: center;
        border-radius: 3px;

        img {
            border-radius: 3px;
            height: 100%;
        }
    }

    .card-preview-body {
        padding: 6px 8px 2px;

    }

    &:hover {
        background-color: #f4f4f8;
        cursor: pointer;
    }

    .card-preview-labels {
        display: flex;
        gap: 5px;
        min-height: 20px;
        flex-wrap: wrap;


        .card-preview-label {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 8px;
            min-width: 40px;
            border-radius: 4px;
            margin: 4px 0 4px 0;
            font-size: 12px;
            line-height: 16px;
            transition: .4s ease-in;


            &:hover {
                box-shadow: inset 0px 0px 0px 7px #0000001c;
            }


            &.expanded {
                color: #172b4d;
                height: 16px;
                min-width: 56px;
                width: max-content;
                padding: 0 5px;
                box-shadow: inset 0px 0px 0px 20px rgba(255, 255, 255, 0.442);
                margin-top: 0;
            }

            .circle-label {
                display: block;
                height: 8px;
                width: 8px;
                border-radius: 25em;
            }
        }
    }

    .card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        clear: both;
        // margin: 0 0 4px;
        width: 100%;
        text-decoration: none;
        word-wrap: break-word;
        position: relative;
        margin-bottom: 5px;
        padding-right: 25px;
        // padding: 5px 8px 2px;

    }

    .card-preview-details {
        // padding: 0px 8px 2px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        justify-content: end;
        font-size: 12px;
        color: #5e6c84;
        position: relative;

        .preview-details-members {
            justify-self: end;
            align-self: flex-end;
            grid-column: 2 / 3;


            .member-img {
                height: 28px;
                width: 28px;
                margin-right: -3px;
                object-fit: cover;
                border-radius: 25em;
            }
        }

        .preview-details-checklist {
            grid-column: 1 / 2;
            display: flex;
            gap: 6px;
            padding-bottom: 3px;
            width: 50px;
            border-radius: 3px;
            align-items: center;
            justify-content: flex-start;
            padding: 0 2px;
            margin: 0 4px 4px 0;
            font-size: 12px;
            line-height: 20px;

            .icon-container {
                margin-inline-end: 8px;
            }


            .preview-details-checklist-icon {
                padding-top: 5px;
                font-size: 15px;
            }
        }


    }

    .quick-edit-btn {
        position: absolute;
        top: 1px;
        right: 1px;
        font-size: 12px;
        z-index: 3;
        color: #42526e;
        opacity: 0;
        padding: 0;
        margin: 0;
    }

}


.card-preview:hover .quick-edit-btn {
    background-color: rgba(255, 255, 255, 0.612);
    border-radius: 3px;
    padding: 7px;
    opacity: 1;
}