.card-list {
    flex: 1 1 auto;
    margin: 0 4px;
    min-height: 0;
    // overflow: hidden;
    // padding: 0 4px;
    z-index: 1;
}

a:hover {
    text-decoration: none;
}


.card-preview {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    padding: 6px 8px 2px;
    position: relative;
    text-decoration: none;
    color: #172b4d;


    &:hover {
        background-color: #f4f4f8;
        cursor: pointer;
    }
    
    .card-title {
        clear: both;
        display: block;
        margin: 0 0 4px;
        text-decoration: none;
        word-wrap: break-word;
    }
}
