.main-content .checklist-header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    min-height: 32px;
    margin: 0px 0 10px 40px;
    padding: 2px 0;
    position: relative;


    span {
        left: -34px;
        position: absolute;
        height: 32px;
        line-height: 32px;
        width: 32px;
        font-size: 22px;
        top: 9px
    }

    span.check-list {
        top: 4px
    }

    h3 {
        display: inline-block;
        align-self: center;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
        width: auto;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600
    }




}

.card-checklist {
    button.btn {
        margin: 0;
        background-color: #EAEBEF;
        color: black;
        margin-inline-start: 9px;
        border-radius: 3px;
        padding: 6px 12px;
        display: inline-flex;
        font-size: 14px;
        font-weight: 100;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        align-items: center;
    }

    button.btn-add-todo {
        margin: 8px 0;
    }

    textarea {
        font-family: system-ui, "Segoe UI", "roboto", "ubuntu", "Open Sans", "Helvetica Neue", sans-serif;
        resize: none;
        height: 108px;
        border: 0;
        border-radius: 2px;
        padding-bottom: 9px;
        width: 100%;
        padding: 8px 12px;
        margin: 4px 0 0;
        overflow: hidden;
        overflow-wrap: break-word;
        height: 55.8491px;
        background-color: var(--ds-background-input, #fff);
        margin: 4px 0 0;
        min-height: 32px;
    }

    // **********************************************************
    // ------------------------------------
    // **********************************************************
    &:focus {
        box-shadow: inset 0 0 0 2px #0079bf;
    }


    textarea:focus {
        outline: #0077ff solid 2px;
    }

    p {
        font-size: 11px;
    }

    button {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        padding: 6px 12px;
        border-radius: 3px;
    }

    .cancel-btn {
        color: black;
        background-color: rgba(0, 121, 191, 0);
    }

    .save-btn {
        margin-inline-end: 4px;
        background-color: #0079bf;
    }
}