.dropdown-boards {

    label {
        margin: 0;
        color: $clr12;
        font-size: rem(12px);
        font-weight: 600;
        letter-spacing: rem(-0.2px);
        margin-block-end: 1em;
        display: block;
        padding: 0 0.3em;
    }

    h3 {
        margin: 0;
        color: $clr9;
        font-size: rem(14px);
        font-weight: 500;
    }

    a {
        padding: 0;
    }

    li {
        height: initial;
    }

    li:not(:last-of-type) {
        margin-block-end: 1em;
    }

    article {
        padding: 0 0.5em;
        cursor: pointer;
        border-radius: 0.2em;
        display: flex;
        align-items: center;

        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
        }

    }

    .board-bg {
        width: 40px;
        height: 40px;
        border-radius: 0.2em;
        margin-inline-end: 0.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;

        span {
            text-shadow: 0 0 4px black;
            font-size: rem(20px);
            font-weight: bold;
        }
    }
}