.dropdown-create-list {
    padding: 1em 0em;

    article {
        color: $clr12;
        padding: 0.5em 0.9em;
        cursor: pointer;

        &:hover {
            background-color: $clr8;
        }

        h4 {
            color: $clr9;
            font-weight: normal;
        }

        .trello {
            margin-inline-end: 0.5em;
            color: #42526E;
        }

        p {
            font-size: rem(12px);
        }
    }
}