.dropdown-boards {

    label {
        margin: 0;
        color: $clr12;
        font-size: rem(12px);
        font-weight: 600;
        letter-spacing: rem(-0.2px);
        margin-block-end: 1em;
        display: block;
        padding: 0 0.3em;
    }

    h3 {
        margin: 0;
        color: $clr9;
        font-size: rem(14px);
        font-weight: 500;
    }

    a {
        padding: 0;
    }

    li {
        height: initial;
    }

    li:not(:last-of-type) {
        margin-block-end: 1em;
    }

    article {
        padding: 0 0.5em;
        cursor: pointer;
        border-radius: 0.2em;
        display: flex;
        align-items: center;

        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
        }

        i.star {
            margin-left: auto;
            font-size: rem(12px);
            width: 20px;
            height: 20px;
            color: $clr6;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(150%);
            -webkit-transition: transform 0.1s ease-in-out;
            -moz-transition: transform 0.1s ease-in-out;
            -ms-transition: transform 0.1s ease-in-out;
            -o-transition: transform 0.1s ease-in-out;
            transition: transform 0.1s ease-in-out;

            &.starred {
                color: $clr15;
                transform: translateX(0);

                &::before {
                    font-family: fa;
                    content: "\f005";
                }

                &:hover::before {
                    font-family: fa-regular;
                    content: "\f005";
                }
            }

            &::before {
                transform: scale(1);
                -webkit-transition: transform 0.1s ease-in-out;
                -moz-transition: transform 0.1s ease-in-out;
                -ms-transition: transform 0.1s ease-in-out;
                -o-transition: transform 0.1s ease-in-out;
                transition: transform 0.1s ease-in-out;
            }

            &:hover::before {
                transform: scale(1.2);
            }
        }

    }

    .board-bg {
        width: 40px;
        height: 40px;
        border-radius: 0.2em;
        margin-inline-end: 0.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;

        span {
            text-shadow: 0 0 1px black;
            font-size: rem(20px);
            font-weight: bold;
        }
    }
}

.dropdown-starred {
    padding: 0.8em;

    .starred-img {
        margin-block-end: 1.3em;
    }

    p {
        color: $clr12;
        text-align: center;
        line-height: 1.43;
        margin-block-end: 0.5em;
    }
}