.group-container {
    position: relative;
    overflow-x: scroll;
    max-width: 100vw;


    .group-list {
        display: flex;
        column-count: auto;
        font-size: 14px;
        height: 100%;
        position: relative;

        .add-group-section {
            //     color: whitesmoke;
            //     background-color: #ebecf0;
            // dissgn-items: center;
            //     position: relative;
            //     gap: 10px;
            padding: 0 0 0 4.5px;


            .add-item-btn.edit-mode {
                display: none;
            }

            .add-item-btn {
                border-radius: 3px;
                display: flex;
                align-items: center;
                gap: 8px;
                width: 266px;
                background-color: #ffffff3d;
                min-height: 40px;
                max-height: 80px;
                padding: 8px 8px;
                margin: 0 2px 0 0;
                cursor: pointer;
                color: white;

                &:hover {
                    background-color: $btn-hover;
                    border-radius: 3px;
                }
            }

            .add-item {
                display: none;
            }

            .add-item.edit-mode {
                display: block;
                background-color: #ebecf0;
                border-radius: 3px;
                font-size: 14px;
                width: 266px;
                padding: 4px 4px 0px 4px;
                margin: 0 8px 0 0;


                form {
                    display: flex;
                    flex-wrap: wrap;
                }

                textarea {
                    background-color: #fff;
                    border: none;
                    border-radius: 3px;
                    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
                    box-shadow: rgba(9, 30, 66, .251);
                    height: 34px;
                    padding: 9px 8px;
                    width: 100%;
                    font-size: 14px;
                    overflow: hidden;

                    &:focus {
                        box-shadow: inset 0 0 0 2px #0079bf;
                    }
                }

                .add-group-btns {
                    display: flex;
                    align-items: center;

                    .save-btn {
                        background-color: #0079bf;
                        color: #fff;
                        margin-right: 4px;
                        margin-left: 0;
                        height: 32px;
                        border-radius: 3px;
                        padding: 4px 12px;
                        font-size: 14px;
                        width: 82px;
                    }

                    .cancel-btn {
                        display: flex;
                        align-items: center;
                        color: rgb(125, 124, 124);
                        font-size: 24px;
                        margin: 0;
                    }
                }
            }
        }



    }

    .group-wrapper {
        padding: 0 4.5px;
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        // margin: 0 4px;
        vertical-align: top;
        white-space: nowrap;
        min-width: 272px;

        .group-header {
            display: flex;
            align-items: center;
            position: relative;
            padding: 10px 36px 8px 8px;

            .extras-menu-btn {
                position: absolute;
                top: 2px;
                right: 0;
                color: #000000;

                button {
                    color: #6b778c;
                    height: 25px;
                    padding: 6px;
                    text-align: center;

                    &:hover {
                        background-color: #091e4214;
                        color: $clr9;
                        border-radius: 3px;

                    }
                }
            }



        }

    }

}

.group-list .extras-menu {
    flex-direction: column;
    background-color: white;
    color: black;
    position: absolute;
    left: 5px;
    min-height: 100px;
    min-width: 270px;
    border-radius: 3px;
    z-index: 2;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

    .title-container {
        color: $clr12;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid rgba(9, 30, 66, .129);
        margin: 0 12px 8px;

        p {
            margin: 0;
        }
    }

    .action-btn {
        cursor: pointer;
        line-height: 20px;
        color: #000000;
        padding: 6px 12px;
    }
}