.group-content {
    padding: 0 8px 6px;
    flex-direction: column;
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    position: relative;
    white-space: normal;

    .group-title-text {
        font-size: 14px;
        font-weight: 600;
        display: block;
    }

    .group-title-text.edit-mode {
        display: none;
    }

    .group-title-input {
        display: none;
    }

    .group-title-input.edit-mode {
        background-color: rgba(245, 245, 245, 0.979);
        border: 0;
        display: block;
        width: 200px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 600;
        height: 18px;
        margin: 0;
        padding: 10px 0 12px 0;
    }

    .group-title-input.edit-mode:focus {
        box-shadow: inset 0 0 0 2px #0079bf;
    }


    .new-card-input.edit-mode {
        display: block;

        input {
            height: 65px;
            border: none;
            margin: 0 0 8px 4px;
            max-width: rem(242px);
            padding: 7px 8px 42px 8px;
            border-radius: 3px;
            width: 100%;
            box-shadow: var(--ds-shadow-raised, 0 1px 0 rgba(9, 30, 66, .251));
        }

        .save-btn {
            background-color: #0079bf;
            color: #fff;
            margin-right: 4px;
            height: 32px;
            border-radius: 3px;
            padding: 6px 12px;
            font-size: 14px;
            width: 82px;
        }
    }

    .new-card-input {
        display: none;
    }

    .area-add-card.edit-mode {
        display: none;
    }

    .area-add-card {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        cursor: pointer;
        color: #555555;
        margin: auto auto 8px 8px;


        img {
            width: 20px;
        }
    }
}