.extras-menu .extras-content-members {
    padding: 0 12px 12px;
    display: flex;
    flex-direction: column;
    cursor: default;

    h4 {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 16px;
    }

    .search-input {
        background-color: var(--ds-background-input, #fafbfc);
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px var(--ds-border-input, #dfe1e6);
        box-sizing: border-box;
        line-height: 20px;
        outline: none;
        padding: 8px 12px;
        display: block;

        &:focus {
            background-color: var(--ds-background-input, #fff);
            box-shadow: inset 0 0 0 2px $focus-input;
        }
    }


    ul {
        padding: 0;
        margin: 0;
        margin-bottom: 8px;

        li {

            label {
                width: 100%;
                display: flex;
                width: 100%;
                justify-content: space-between;
                cursor: pointer;

                &:hover {
                    background-color: #091e420a;
                }

                input {
                    opacity: 0;
                    width: 80px;
                }

                border-radius: 3px;
                line-height: 32px;
                margin-bottom: 2px;
                overflow: hidden;
                padding: 4px;
                position: relative;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            label img.member-avatar {
                border-radius: 25em;
                height: 32px;
                object-fit: cover;
                width: 32px;
                justify-content: space-between;
                margin-inline-end: 8px;
            }
        }
    }
}