.members-container {


    .member {
        padding: 4px 0px;
        text-align: center;
        margin: 0 4px 8px 0;
        background-color: #2c88bdcd;
        border-radius: 25em;
        cursor: pointer;
        color: $clr9;

        .card & {
            width: 32px;
            height: 32px;
        }

        .group & {
            width: 28px;
            height: 28px;
        }
    }
}