.members-container {
    display: flex;
    flex-wrap: wrap;
    
    .group & {
        margin: 0 -2px 0 0;
    }
    .card & {
        margin: 0 8px 8px 0;
    }

    .member {
        margin: 0 4px 4px 0;
        background-color: whitesmoke;
        border-radius: 25em;
        cursor: pointer;
        color: #172b4d;

        .card & {
            width: 32px;
            height: 32px;
        }

        .group & {
            width: 28px;
            height: 28px;
        }
    }
}