.members-container {


    .member {
        padding: 3px;
        text-align: center;
        margin: 0 4px 4px 0;
        background-color: whitesmoke;
        border-radius: 25em;
        cursor: pointer;
        color: #172b4d;

        .card & {
            width: 32px;
            height: 32px;
        }

        .group & {
            width: 28px;
            height: 28px;
        }
    }
}