.fa.card-icon::before {
    content: "\f0ce";
}

.fa.add::before {
    content: "\2b"
}

.fa.down-arrow::before {
    content: "\f078";
}

.fa.circle::before {
    content: "\f111";
}

.fa.tag::before {
    content: "\f02b";
}

.fa.user-group::before {
    content: "\f500";
}

.fa.star-icon::before {
    content: "\f005";
}

.fa.xmark::before {
    content: "\f00d";
    font-style: normal;
}