.fa.card-icon::before {
    content: "\f0ce";
}

.fa.add::before {
    content: "\2b"
}

.fa.down-arrow::before {
    content: "\f107";
}

.fa.circle::before {
    content: "\f111";
}

.fa.tag::before {
    content: "\f02b";
}

.fa.user-group::before {
    content: "\f500";
}

.fa.star-icon::before {
    content: "\f005";
}

.fa.xmark::before {
    content: "\f00d";
    font-style: normal;
}

.fa.clock::before {
    content: "\f017";
}

.fa.square-check::before {
    content: "\f14a";
}

.fa.cover::before {
    content: "\f2d0";
}

.fa.align-left::before {
    content: "\f036";
}

.fa.arrow-left::before {
    content: "\f104";
}

.fa.ellipsis::before {
    content: "\f141";
}

.fa.checked::before {
    content: "\f00c";
}

// BRANDS
.fa-brands.trello::before {
    content: "\f181";
}

// REGULAR
.fa-regular.star::before {
    content: "\f005";
}

.fa-regular.clock::before {
    content: "\f017";
}