.board-index {
    height: 100%;
    /* width */
    ::-webkit-scrollbar {
        // width: 80px;
        height: 15px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 0.5em;
    }
}