.board-index {
    height: 100%;

    /* width */
    ::-webkit-scrollbar {
        // width: 80px;
        height: 20px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: red;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(85, 85, 85, 0.555);
        border-radius: 0.5em;
    }
}