.window {
  overflow: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  inset: 0;
  z-index: 500;
  background-color: #000000a3;

}

.black-bg {
  position: absolute;
  display: flex;
  inset: 0;
  margin: 0;
}

.card {
  z-index: 999;
  background-color: $clr11;
  border-radius: 2px;
  // display: none;
  margin: 48px 0 80px;
  position: relative;
  width: 768px;
  min-height: 600px;

  .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: #42526e;
    height: 41px;
    margin: 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 41px;
    z-index: 1;
    font-size: 18px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }

  .with-cover {
    background-color: rgba(0, 0, 0, 0.1);

  }

  .card-cover {
    height: 116px;
    min-height: 116px;
    background-size: initial;
    background-origin: content-box;
    position: relative;
    border-radius: 3px;

    .cover-btn {
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      border-radius: 3px;
      bottom: 0;
      right: 0;
      margin: 8px;
      padding: 4px 12px 5px 6px;
    }

    span {
      font-size: 16px;
      height: 20px;
      line-height: 20px;
      width: 20px;
      display: inline-block;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      vertical-align: bottom;
    }


  }

  .card-header {
    margin-bottom: 9px;
    min-height: 32px;
    padding: 12px 40px 8px 56px;
    position: relative;

    .icon {
      left: 24px;
      position: absolute;
      top: 20px;
      height: 32px;
      line-height: 32px;
      width: 32px;
      font-size: 18px
    }

    h2 {
      margin: 0;
      padding: 12px 0 0;
      margin-right: 4px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }

    p {
      display: inline-block;
      margin: 4px 8px 4px 2px;
    }
  }

  .card-content {

    flex-direction: column;

    @include for-normal-layout {
      flex-direction: row;


      .main-content {
        width: 552px;
      }
    }

    .main-content {
      flex: 1;
      margin: 0;
      min-height: 24px;
      padding: 0 8px 8px 16px;
      position: relative;
      width: 100%;
      margin-bottom: 80px;


      .card-details {
        margin-left: 40px;
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;


        .details {
          .members-container {
            display: flex;
            flex-wrap: wrap;
            max-width: fit-content;
            margin: 0 8px 8px 0;

            &>:last-child {
              color: black;
              font-size: 16px;
              padding: 2px 0;
              background-color: #eaecf0;
              margin: 0 8px 8px 0;
            }
          }

          h5 {
            text-transform: capitalize;
            display: block;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            margin: 0 8px 7px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .labels-container {
            margin: 0 8px 8px 0;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;


            .circle-label {
              position: absolute;
              left: 10px;
              top: 8px;
              bottom: 8px;
              left: 8px;
              border-radius: 50%;
              width: 16px;
              height: 16px;
            }

            .label {
              display: inline-block;
              position: relative;
              margin-bottom: 0;
              border-radius: 3px;
              padding: 0 12px;
              max-width: 100%;
              min-width: 48px;
              height: 32px;
              line-height: 32px;
              color: $clr9;
              padding-left: 32px
            }

            &>:last-child {
              min-width: 0;
              width: 32px;
              padding: 0 8px;
              color: black;
              font-size: 16px;
              background-color: #eaecf0;
            }
          }
        }
      }

    }

    .card-description {
      h3 {
        font-size: 18px;
        // padding-top: 6px;
        padding: 6px 0px;
      }
    }

    .section-header {
      align-items: center;
      display: flex;
      min-height: 48px;
      margin: 0px 0 4px 40px;
      // padding: 8px 0;
      position: relative;


      span {
        left: -35px;
        position: absolute;
        height: 32px;
        line-height: 32px;
        width: 32px;
        font-size: 22px;
        top: 9px
      }

      span.check-list {
        top: 4px
      }


      h3 {
        display: inline-block;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
        width: auto;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600
      }

      button {
        margin: 0;
        background-color: #EAEBEF;
        color: black;
        margin-inline-start: 9px;
        border-radius: 3px;
        padding: 6px 12px;
        display: inline-flex;
        font-size: 14px;
        font-weight: 100;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        align-items: center;
      }
    }

    p {
      margin: 0;
      margin-left: 40px
    }
  }
}