@font-face {
    font-family: fa;
    src: url(../fonts/font-awsome/fa-solid-900.ttf)
}

.fa::before {
    font-family: fa;
}

// @font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }