@font-face {
    font-family: fa;
    src: url(../../fonts/font-awsome/fa-solid-900.ttf)
}

.fa::before {
    font-family: fa;
}

@font-face {
    font-family: fa-regular;
    src: url(../../fonts/font-awsome/fa-regular-400.ttf)
}

.fa-regular::before {
    font-family: fa-regular;
}

@font-face {
    font-family: fa-brands;
    src: url(../../fonts/font-awsome/fa-brands-400.ttf)
}

.fa-brands::before {
    font-family: fa-brands;
}

// @font-face {
//     font-family: Helvetica Neue;
//     src: url(../../fonts/Helvetica-Neue/Helvetica-neue-medium.ttf)
// }

@font-face {
    font-family: noto-sans;
    src: url(../../fonts/Noto-Sans/NotoSans-Light.ttf)
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: ubuntu;
    src: url(../../fonts/Ubuntu/Ubuntu-Light.ttf)
}

@font-face {
    font-family: charlie-display-bold;
    src: url(../../fonts/charlie/CharlieDisplay-Semibold.ttf)
}

@font-face {
    font-family: charlie-text;
    src: url(../../fonts/charlie/CharlieText-Regular.ttf)
}