// Colors
$clr1: #026aa7;
$clr2: #141414;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #091e420a;
$clr9: #172b4d;
$clr10: rgba(255,255,255,0.2);
$clr11: #f4f5f7;
$clr12: #5e6c84;
$clr13: #eb5a46;
$clr14: #0065ff;


$btn-hover: #ffffff4d;
$group-bg: #ebecf0;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;